@media screen and (max-width: 1000px) {
    .main {
        width: 75vw;
    }
}

@media screen and (max-width: 600px) {
    html {
        /* font-size: 20px; */
    }

    .input button {
        transform: scale(1);
    }

    .main {
        width: 95vw;
        /* height: 80vh; */
    }
}